{% extends "base.html" %}
{% block title %}Технологии{% endblock %}
{% block content %}
<div class="row">
  <h1>Слава технологиям!</h1>
  <aside class="col-12 col-md-3">
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        Python
      </li>
      <li class="list-group-item">
        Django
      </li>
      <li class="list-group-item">
        Bootstrap
      </li>
      <li class="list-group-item">
        Алфавит
      </li>
      <li class="list-group-item">
        Электричество
      </li>
    </ul>
  </aside>
  <article class="col-12 col-md-9">
    <p>Сайт работает благодаря наставникам, ревьюверу и технологиям.</p>
  </article>
</div>
{% endblock %}